%h1 Список вопросов

%table
  %tr
    %th Игра
    %th Текст вопроса
    %th
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.game_link
      %td= link_to question.short_text, question                
      %td= edit_link_icon edit_question_path(question)
      %td= delete_link_icon question
      %td= forward_link_icon question

%br
= add_link_icon new_question_path
