= backward_link_icon @question.game
= edit_link_icon edit_question_path(@question)
= delete_link_icon question_path(@question)
%span.game
  = surround '(', ')' do
    Вопрос используется в игре:
    %em= @question.game_link

.question_text
  %b Текст вопроса:
  %pre= @question.question_text

.answers
  = add_link_icon new_answer_path(question_id: @question, answer_group: @question.new_answer_group_index)
  %b Ответы:
  %br
  - @question.each_answer_group do |answer_group_index, group_of_answers|
    .answer_group
      %i #{answer_group_index}-я группа ответов:
      = add_link_icon new_answer_path(question_id: @question, answer_group: answer_group_index)
      %table
        - group_of_answers.each do |answer|
          %tr.answer
            %td.answer_text
              = link_to answer do
                .filler= answer.answer_text
            %td (балл: #{answer.mark_score})
            %td= edit_link_icon edit_answer_path(answer)
            %td= delete_link_icon answer_path(answer)
