= backward_link_icon @question.game
= admin_only do
  = edit_link_icon edit_question_path(@question)
  = delete_link_icon question_path(@question)
.time_from_now= @question.game.time_from_now
%span.game
  = surround '(', ')' do
    Вопрос используется в игре:
    %em= @question.game_link

.question_text
  %b Текст вопроса:
  %pre= @question.question_text

- if @question.pictures.size > 0
  .pictures
    - @question.pictures.each do |picture|
      .picture.inline-block
        = link_to picture.image.url do 
          = image_tag picture.image, width: 200

- if @question.documents.size > 0
  %p
    %b Приложенные файлы:
  %ul.documents
    - @question.documents.each do |document|
      %li.document= link_to document.filename, document.file.url

- player_only do
  - if @question.game.started? && ! @question.game.finished?
    = simple_form_for UserAnswer.new(question_id: @question.id), as: :user_answer, url: answer_question_path(@question) do |f|
      = f.input :question_id, as: :hidden
      = f.input :answer_text, input_html: {id: 'question_answer'}
      = f.submit 'Ответить'

  = render partial: 'user_answers', locals: {question: @question, user: current_user}

= admin_only do
  .answers
    = add_link_icon new_answer_path(question_id: @question, answer_group: @question.new_answer_group_index)
    %b Ответы:
    %br
    - @question.each_answer_group do |answer_group_index, group_of_answers|
      .answer_group
        %i #{answer_group_index}-я группа ответов:
        = add_link_icon new_answer_path(question_id: @question, answer_group: answer_group_index)
        %table
          - group_of_answers.each do |answer|
            %tr.answer
              %td.answer_text
                = link_to answer do
                  .filler= answer.answer_text
              %td (балл: #{answer.mark_score})
              %td= edit_link_icon edit_answer_path(answer)
              %td= delete_link_icon answer_path(answer)
