= backward_link_icon user_results_game_path(@question.game, user_id: @user.id)
%span.game
  = surround '(', ')' do
    Вопрос используется в игре:
    %em= @question.game_link
.question_text
  %b Текст вопроса:
  %pre= @question.question_text
= render partial: 'questions/user_answers', locals: {question: @question, user: @user}
