%h1 Пользователи

%table
  %thead
    %tr
      %th Пользователь
      %th Число сыгранных игр
      %th Общий счет
      %th Зарегистрирован
      
  %tbody
    - @users.each do |user|
      %tr
        %td= user.user_link
        %td= user.num_games
        %td
          %span.total_score= user.total_score
          из
          %span.max_score= user.max_score
          = surround '(', ')' do
            = succeed '%' do
              = user.max_score != 0 ? (100.0 * (user.total_score / user.max_score).round(2)) : 0
        %td= user.created_at


%br
