.player Профиль #{@user.user_link}
%table.games
  %tr
    %th Игра
    %th Результат
    - admin_only do
      %th
  - Game.all.decorate.select{|game| @user.participant?(game.object)}.each do |game|
    %tr
      %td= game.game_link
      %td
        %span.total_score= game.total_score(@user)
        из
        %span.max_score= game.max_score
      - admin_only do
        %td= answers_link_icon user_results_game_path(game, user_id: @user.id)
