= simple_form_for(@answer) do |f|
  = f.error_notification

  .form-inputs
    = f.association :question, label_method: ->(question) { truncate(question.question_text, length: 30) }
    = f.input :answer_text
    = f.input :mark_score
    = f.input :answer_group

  .form-actions
    = f.button :submit
