%h1 Listing answers

%table
  %tr
    %th Question
    %th Answer text
    %th Mark score
    %th Answer group
    %th
    %th
    %th

  - @answers.each do |answer|
    %tr
      %td= answer.question
      %td= answer.answer_text
      %td= answer.mark_score
      %td= answer.answer_group
      %td= link_to 'Show', answer
      %td= link_to 'Edit', edit_answer_path(answer)
      %td= link_to 'Destroy', answer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Answer', new_answer_path
