= edit_link_icon edit_answer_path(@answer)
= delete_link_icon answer_path(@answer)

%p
  %b Вопрос:
  = link_to truncate(@answer.question.question_text, length: 140), @answer.question
%p
  %b Ответ:
  = @answer.answer_text
%p
  %b Балл:
  = @answer.mark_score
%p
  %b Номер группы ответов:
  = @answer.answer_group
