%h1 Listing games

%table
  %tr
    %th Название
    %th Начало
    %th Конец
    %th Число вопросов
    %th
    %th

  - @games.each do |game|
    %tr
      %td= link_to game.title, game
      %td= l game.start
      %td= l game.finish
      %td= game.questions.length
      %td
        = link_to edit_game_path(game), class: 'edit-link' do
          .edit-link
      %td
        = link_to game, :method => :delete, class: 'delete-link', :data => { :confirm => 'Вы уверены, что хотите удалить игру?' } do
          .delete-link

%br

= link_to new_game_path, class: 'add-link' do
  .add-link
