%h1 Игры

%table.game
  %tr
    %th Название
    %th Начало
    %th Конец
    %th Число вопросов
    = admin_only do
      %th
      %th
    %th

  - @games.each do |game|
    %tr
      %td.game-title.hover-emphasis
        = link_to game do
          .filler= game.title
      %td= l game.start
      %td= l game.finish
      %td= game.questions.length
      = admin_only do
        %td= edit_link_icon edit_game_path(game)
        %td= delete_link_icon game
        %td= link_to 'ответы', user_answers_path(game_id: game.id)
      %td= forward_link_icon game

= admin_only do
  %br
  = add_link_icon new_game_path
