%h1 Игры

%table.game
  %tr
    %th Название
    %th Начало
    %th Конец
    %th Число вопросов
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      %td.game-title.hover-emphasis
        = link_to game do
          .filler= game.title
      %td= l game.start
      %td= l game.finish
      %td= game.questions.length
      %td= edit_link_icon edit_game_path(game)
      %td= delete_link_icon game
      %td= forward_link_icon game

%br

= add_link_icon new_game_path
