= admin_only do
  = edit_link_icon edit_game_path(@game)
  = delete_link_icon game_path(@game)

%p
  %b Название игры:
  = @game.title
%p
  %b Начало:
  = @game.start
%p
  %b Конец:
  = @game.finish

%hr

%b Вопросы:
= admin_only do
  = add_link_icon new_question_path(game_id: @game)
%hr

%table.questions
  - @game.questions.each do |question|
    %tr
      = admin_only do
        %td
          = up_link_icon move_higher_question_path(question)
        = down_link_icon move_lower_question_path(question)
      %td.question_text.hover-emphasis
        = link_to question_path(question) do
          .filler= question.enumerated_short_text(length: 140)
      %td (ответов: #{question.num_answers})
      = admin_only do
        %td= edit_link_icon edit_question_path(question)
        %td= delete_link_icon question_path(question)
      %td= forward_link_icon question
