!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Qu"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          -# %span.icon-bar
          -# %span.icon-bar
        = link_to 'Qu', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li= link_to "Games", games_path

          - if signed_in?
            .navbar-signed.pull-right
              Привет, #{current_user.decorate.user_link}
              = edit_link_icon edit_user_registration_path
              = link_to destroy_user_session_path, :method => :delete, class: 'logout-link' do
                .logout-link
          - else
            = simple_form_for(User.new(remember_me: true), as: :user, url: new_user_session_path, html:{class: 'pull-right navbar-signin'}) do |f|
              %span.form-inputs
                = f.input :login, required: false, autofocus: true, wrapper_html: {class: 'inlined'}
                = f.input :password, required: false, wrapper_html: {class: 'inlined'}
                = f.input :remember_me, as: :hidden

              %span.form-actions
                = f.button :submit, "Войти"
              = link_to new_user_registration_path, class: 'signup-link' do
                .signup-link
              = link_to new_user_password_path class: 'forgot-password-link' do
                .forgot-password-link

    .container
      .row
        .col-lg-9
          = bootstrap_flash
          = yield
        .col-lg-3
          .well.sidebar-nav
            %h3 Игры
            %ul.nav.nav-list
              - Game.all.each do |game|
                -# %li.nav-header Игры
                %li
                  = link_to game do
                    = game.title
                    %br
                    = surround '(', ')' do
                      - if game.start.to_date == game.finish.to_date 
                        #{l game.start, :format => :time}–#{l game.finish, :format => :time}, #{l game.start, :format => :date}
                      - else
                        #{l game.start, :format => :short} – #{l game.finish, :format => :short}
      %footer
        %hr
        %p 
        &copy;
        Разработано командой летней школы
        = link_to '"Слон"', 'https://vk.com/slon_ipm'
